body {
  margin: 0 auto;
}
.title {
  font-weight: 600;
  text-align: center;
}
.list {
  text-align: center;
}
#addButton {
  background-color: rgb(10, 201, 10);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
#addButton:hover {
  background-color: brown;
}

#taskInput {
  padding: 5px;
  width: 300px;
}
.list_items {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  padding-top: 10px;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: rgb(107, 105, 105);
}
